header {
    display:flex;
    padding-inline: 16px;
    padding-block: 8px;
    background-color: black;
    color: white;
    align-items:center;
    justify-content: space-between;

}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    > span{
        cursor: pointer;
        &:hover{
            color: rgb(86, 134, 94);
        }
        font-size: 30px;
    }

    ul{
        list-style: none;
    }
    li{
        cursor: pointer;
        &:hover{
            color: rgb(86, 134, 94);
        }
    }
}